/* Will be compiled down to a single stylesheet with your sass files */

.red {
	background-color: palevioletred;
}

.blue {
	background-color: paleturquoise;
}
.active {
	border:solid 1px #2d2d2d;
}
.scunit {
	display: none;
}