<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title></title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="styles/main.css"/>

    </head>
    <body>

<script type="text/x-handlebars" data-template-name="strat">
<button {{action "zergScreen"}}>zerg</button>
<button {{action "terranScreen"}}>terran</button>
{{outlet}}

{{#if isZergBuilds}}
    <button {{action "tenpool"}}>10 Pool</button>
    <button {{action "roach"}}>Roach Rush</button>

{{/if}}

{{#if isTerranBuilds}}
    <button {{action "fourrack"}}>4 Rack</button>
    <button {{action "banshee"}}>Banshee Rush</button>
{{/if}}

{{#if isFourrack}}
    <h1>4 Rack</h1>
    {{view App.fourrackView}}
{{/if}}

{{#if isBanshee}}
    <h1>Banshee Rush</h1>
    {{view App.bansheeView}}
{{/if}}

<p>current strat: {{view.strat}}</p>
<button {{action "startTime"}}>Start Stuff</button>
<span class="timedisplay">{{count}}</span>
{{log this}}

{{view App.testView}}
</script>


        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <!-- build:js scripts/scripts.js -->
        <script src="scripts/vendor/jquery.min.js"></script>
        <script src="scripts/vendor/handlebars-1.0.rc.1.js"></script>
        <script src="scripts/vendor/ember-1.0.0-pre.4.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
